@model RoleSearchModel
@{
    Html.SetActiveMenuItemSystemName("Role List");
    ViewBag.PageTitle = T("Admin.Role.List.Title").Text;
}

<form asp-controller="Role" asp-action="List" method="post">
    <section class="card">
        <div class="card-header">
            <div class="pull-left" title="@T("Common.Search.Text")">
                <i class="fa fa-search" aria-hidden="true" data-toggle="collapse" href="#role-list-search"></i>
                <a asp-action="Create"> <i class="fa fa-plus" aria-hidden="true"></i></a>
            </div>
        </div>
        <div class="card-body collapse" id="role-list-search">
            <div class="row">
                <div class="input-group col-md-6">
                    <div class="input-group-prepend">
                        <span class="input-group-text">@T("Role.Field.Name")</span>
                    </div>
                    <input asp-for="Name" maxlength="70" type="text" class="form-control">
                </div>
            </div>
            <div class="btn-group-justified pull-left">
                <button id="search-role-list" type="button" class="btn btn-primary">@T("Common.Search.Text")</button>
                <button id="search-clear-list" type="button" class="btn btn-secondary">@T("Common.Search.Clear")</button>

            </div>
        </div>
    </section>

    <section class="card mt-2">
        <div class="card-header">
            <span class="card-title">@T("Admin.Role.List.Title")</span>
        </div>
        <div class="card-body">
            @{
                var gridModel = new DataTablesModel
                {
                    Name = "role-grid",
                    SearchButtonId = "search-role-list",
                    UrlRead = new DataUrl("List", "Role", null),
                    Length = Model.PageSize,
                    LengthMenu = Model.AvailablePageSizes,
                    Filters = new List<FilterParameter>()
                                                    {
                        new FilterParameter(nameof(Model.Name))
                    }
                };

                gridModel.ColumnCollection.Add(new ColumnProperty(nameof(RoleModel.Name))
                {
                    Title = T("Role.Field.Name").Text
                });

                gridModel.ColumnCollection.Add(new ColumnProperty(nameof(RoleModel.Id))
                {
                    Title = "",
                    Width = "80",
                    ClassName = LiparColumnClassDefaults.Button,
                    Render = new RenderButtonEdit(new DataUrl("Edit"))
                });

                @await Html.PartialAsync("Table", gridModel)
            }
        </div>
    </section>
</form>

<script>
    $(document).ready(() => {
        $('#search-clear-list').click((e) => {
            $('#@Html.IdFor(c=>c.Name)').val('');
            $('#search-role-list').click();
        });
    })
</script>