@model IList<ProductCommentListModel>
@using Lipar.Core.Common
@inject Lipar.Core.IWorkContext _workContext
@{ 
    var commonHelper = new CommonHelper();
}
@{
    foreach (var productComment in Model)
    {
        <ul style="list-style:none">
            <li class="mb-3">
                <div class="card m-4 p-3" id="product-comment-@productComment.Id">
                    <div class="card-header">
                        <div class="float-left d-flex flex-row">
                            <i class="fa fa-user p-1"></i>
                            <span class="card-title p-1">@productComment.FullName</span>

                            <i class="fa fa-calendar ml-2 p-1"></i>
                            <span class="p-1">@commonHelper.GetPersianDateByFormat(1, productComment.CreationDate)</span>
                        </div>

                        @if (_workContext.CurrentUser != null)
                        {
                            <div class="float-right">
                                <button class="btn btn-outline-success blog-comment-replay" data-id="@productComment.Id">@T("Web.Comment.Replay")</button>
                            </div>
                        }
                    </div>
                    <div class="card-body">
                        @Html.Raw(productComment.CommentText)
                        @if (!string.IsNullOrEmpty(productComment.ReplyText))
                        {
                            <hr />
                            <span>پاسخ ادمین :</span>
                            @Html.Raw(productComment.ReplyText)
                        }
                    </div>
                </div>
            </li>

            @await Component.InvokeAsync("ProductComment", new { productCommentList = productComment.Children })

        </ul>

    }
}

