@model ShippingCostSearchModel


@{
    Html.SetActiveMenuItemSystemName("Shipping Cost List");
    ViewBag.PageTitle = T("Admin.ShippingCost.List.Title").Text;
}

<form asp-action="List" asp-controller="ShippingCost" method="post">
    <section class="card">
        <div class="card-header">
            <div class="pull-left" title="@T("Admin.Common.Search")">
                <i class="fa fa-search" aria-hidden="true" data-toggle="collapse" href="#shipping-cost-list-search"></i>
                <a asp-action="Create"> <i class="fa fa-plus" aria-hidden="true"></i></a>
            </div>
        </div>
        <div class="card-body collapse" id="shipping-cost-list-search">
            <div class="row">
                <div class="form-group col-md-6 col-sm-4">
                    <label asp-for="Name" class="control-label">@T("Admin.ShippingCost.Field.Name")</label>
                    <input type="text" class="form-control" asp-for="Name">
                </div>
            </div>

            <div class="btn-group-justified float-right">
                <button id="search-shipping-cost-list" type="button" class="btn btn-primary">@T("Admin.Common.Search")</button>
                <button id="search-clear-list" type="button" class="btn btn-secondary">@T("Admin.Common.Search.Clear")</button>
            </div>
        </div>
    </section>

    <section class="card mt-2">
        <div class="card-header">
            <span class="card-title">@T("Admin.ShippingCost.List.Title")</span>
        </div>
        <div class="card-body">
            @{
                var gridModel = new DataTablesModel
                {
                    Name = "shipping-cost-grid",
                    SearchButtonId = "search-shipping-cost-list",
                    UrlRead = new DataUrl("List", "ShippingCost", null),
                    Length = Model.PageSize,
                    LengthMenu = Model.AvailablePageSizes,
                    Filters = new List<FilterParameter>()
                            {
                        new FilterParameter(nameof(Model.Name))
                    }
                };

                gridModel.ColumnCollection.Add(new ColumnProperty(nameof(ShippingCostModel.Name))
                {
                    Title = T("Admin.ShippingCost.Field.Name").Text
                });

                gridModel.ColumnCollection.Add(new ColumnProperty(nameof(ShippingCostModel.Description))
                {
                    Title = T("Admin.ShippingCost.Field.Description").Text
                });

                gridModel.ColumnCollection.Add(new ColumnProperty(nameof(ShippingCostModel.Price))
                {
                    Title = T("Admin.ShippingCost.Field.Price").Text
                });

                gridModel.ColumnCollection.Add(new ColumnProperty(nameof(ShippingCostModel.EnabledType.Title))
                {
                    Title = T("Admin.ShippingCost.Field.EnabledType").Text,
                });

                gridModel.ColumnCollection.Add(new ColumnProperty(nameof(ShippingCostModel.Id))
                {
                    Title = "",
                    Width = "10",
                    ClassName = LiparColumnClassDefaults.Button,
                    Render = new RenderButtonEdit(new DataUrl("Edit"))
                });
                @await Html.PartialAsync("Table", gridModel)
            }
        </div>
    </section>
</form>


<script>
    $(document).ready(() => {
        $('#search-clear-list').click((e) => {
            $('#@Html.IdFor(c=>c.Name)').val('');
            $('#search-shipping-cost-list').click();
        });
    })
</script>