@model Lipar.Web.Areas.Admin.Models.Application.ProductModel
@{
    Html.SetActiveMenuItemSystemName("Product List");
    ViewBag.PageTitle = T("Admin.Product.Add.Card.Title").Text;
}

<form asp-action="Edit" asp-controller="Product" method="post" id="product-form">
    <section class="card">
        <div class="card-header clearfix">
            <div class="float-left">
                <span class="card-title">@T("Admin.Product.Edit.Card.Title") - @Model.Name</span>
            </div>

            <div class="float-right">
                <button type="submit" class="btn btn-success">
                    <i class="fa fa-floppy-o"></i>
                    @T("Common.Edit.Button")
                </button>
                <span id="product-delete" class="btn btn-danger">
                    <i class="fa fa-trash-o"></i>
                    @T("Common.Delete.Button")
                </span>
                <a asp-action="List" class="btn btn-primary">
                    <i class="fa fa-arrow-circle-left"></i>
                    @T("Common.Back.Button")
                </a>
            </div>
        </div>
        <div class="card-body">
            @await Html.PartialAsync("_CreateOrUpdate", Model)
        </div>
    </section>

    @Html.AntiForgeryToken()
</form>

<lipar-delete-confirmation asp-button-id="product-delete" asp-model-id="@Model.Id" />