@model ProductCommentModel
@{
    Html.SetActiveMenuItemSystemName("Product List");
    ViewBag.PageTitle = T("Admin.Product.Add.Card.Title").Text;
}

<form asp-action="ProductCommentEdit" asp-controller="Product" method="post" id="product-comment-form">
    <section class="card">
        <div class="card-header clearfix">
            <div class="pull-right">
                <span class="card-title">@T("Admin.ProductComment.Edit.Card.Title")</span>
            </div>

            <div class="pull-left">
                <button type="submit" class="btn btn-success">
                    <i class="fa fa-floppy-o"></i>
                    @T("Common.Edit.Button")
                </button>
                <span id="product-comment-delete" class="btn btn-danger">
                    <i class="fa fa-trash-o"></i>
                    @T("Common.Delete.Button")
                </span>
                <a asp-action="ProductCommentList" class="btn btn-primary">
                    <i class="fa fa-arrow-circle-left"></i>
                    @T("Common.Back.Button")
                </a>
            </div>
        </div>
        <div class="card-body">

            <input asp-for="Id" type="hidden" />

            <div class="form-group">
                <label asp-for="CommentStatusId" class="control-label">@T("ProductComment.Field.CommentStatusType")</label>
                <lipar-select asp-items="@Model.AvailableCommentStatusType" asp-for="CommentStatusId">
                    <span class="text-danger" asp-validation-for="CommentStatusId" />
            </div>
            <div class="form-group">
                <label asp-for="CommentText" class="control-label">@T("ProductComment.Field.CommentText")</label>
                <textarea class="form-control" asp-for="CommentText" required></textarea>
                <span class="text-danger" asp-validation-for="CommentText" />
            </div>
            <div class="form-group">
                <label asp-for="ReplyText" class="control-label">@T("ProductComment.Field.ReplyText")</label>
                <textarea class="form-control" asp-for="ReplyText"></textarea>
            </div>
        </div>
    </section>

    @Html.AntiForgeryToken()
</form>

<lipar-delete-confirmation asp-button-id="product-comment-delete" asp-model-id="@Model.Id" />