@model MenuSearchModel
@{
    Html.SetActiveMenuItemSystemName("Menu List");
    ViewBag.PageTitle = T("Admin.Menu.List.Title").Text;
}

<form asp-action="List" asp-controller="Menu" method="post">
    <section class="card">
        <div class="card-header">
            <div class="pull-left" title="@T("Admin.Common.Search")">
                <i class="fa fa-refresh" aria-hidden="true" data-toggle="collapse" id="menu-grid-refresh"></i>
                <i class="fa fa-search" aria-hidden="true" data-toggle="collapse" href="#menu-list-search"></i>
                <a asp-action="Create"> <i class="fa fa-plus" aria-hidden="true"></i></a>
            </div>
        </div>
        <div class="card-body collapse" id="menu-list-search">
            <div class="row">
                <div class="form-group col-md-6">
                    <label>@T("Admin.Menu.Field.Name")</label>
                    <input asp-for="Name" maxlength="70" type="text" class="form-control">

                </div>
            </div>
            <div class="btn-group-justified pull-left">
                <button id="search-menu-list" type="button" class="btn btn-primary">@T("Admin.Common.Search")</button>
                <button id="search-clear-list" type="button" class="btn btn-secondary">@T("Admin.Common.Search.Clear")</button>

            </div>
        </div>
    </section>

    <section class="card mt-2">
        <div class="card-header">
            <span class="card-title">@T("Admin.Menu.List.Title")</span>
        </div>
        <div class="card-body">
            @{
                var gridModel = new DataTablesModel
                {
                    Name = "menu-grid",
                    UrlRead = new DataUrl("List", "Menu", null),
                    SearchButtonId = "search-menu-list",
                    Length = Model.PageSize,
                    LengthMenu = Model.AvailablePageSizes,
                    RefreshButton = true,
                    Filters = new List<FilterParameter>()
                        {
                        new FilterParameter(nameof(Model.Name))
                    }
                };

                gridModel.ColumnCollection.Add(new ColumnProperty(nameof(MenuModel.Name))
                {
                    Title = T("Admin.Menu.Field.Name").Text
                });

                gridModel.ColumnCollection.Add(new ColumnProperty(nameof(MenuModel.Id))
                {
                    Title = T("Admin.Common.Edit").Text,
                    Width = "80",
                    ClassName = LiparColumnClassDefaults.Button,
                    Render = new RenderButtonEdit(new DataUrl("Edit"))
                });

                @await Html.PartialAsync("Table", gridModel)
            }
        </div>
    </section>
</form>

<script>
    $(document).ready(() => {
        $('#search-clear-list').click((e) => {
            $('#@Html.IdFor(c=>c.Name)').val('');
            $('#search-menu-list').click();
        });
    })
</script>