@model ProductModel
@using Lipar.Entities.Domain.Application.Enums
using Lipar.Services.Application
@{
    decimal temp1 = 0;
    decimal temp2 = 0;
}
<div class="container">
    <div class="row form-horizontal">
        <div class="col-md-12 m-auto">
            <label class="text-center">فروشنده : نام شرکت شما</label>
        </div>
        @if (!Model.CallForPrice)
        {
            <div class="col-md-12 text-center">
                <label class="text-info">@T("Product.Field.Price")</label>
                <label class="text-danger">@string.Format("{0:C0} تومان", Model.Price).Replace("$", "")</label>
                @{
                    switch (Model.DiscountTypeId)
                    {
                        case (int)DiscountTypeEnum.Amount:
                            temp2 = Model.Discount ?? 0;
                            <label class="control-label text-info">
                                @T("Product.Field.Discount")
                            </label>
                            <label class="control-label text-danger">
                                @string.Format("{0:C0} تخفیف", Model.Discount).Replace("$", "")
                            </label>
                            break;
                        case (int)DiscountTypeEnum.Percentage:
                            temp2 = (Model.Price * (Model.Discount ?? 0)) / 100;
                            <label class="control-label text-info">
                                @T("Product.Field.Discount")
                            </label>
                            <label class="control-label text-danger">
                                @string.Format("{0:C0} درصد", Model.Discount).Replace("$", "")
                            </label>
                            break;
                    }
                }

                <hr />
                <label class="text-info">@T("Product.Field.Sum")</label>
                <label class="text-danger">@string.Format("{0:C0} تومان", (Model.Price - (temp1 + temp2))).Replace("$", "")</label>
            </div>
            if (Model.ProductAttributes.Count > 0)
            {
                <div class="col-md-12">
                    @foreach (var productAttribute in Model.ProductAttributes)
                    {
                        string controlId = $"{LiparApplicationDefaults.ProductAttributePrefix}{productAttribute.ProductAttributeId}";
                        string TextPrompt = !string.IsNullOrEmpty(productAttribute.TextPrompt) ? productAttribute.TextPrompt : productAttribute.TextPrompt;

                        <label class="control-label col-xs-2">@TextPrompt</label>
                        switch (productAttribute.AttributeControlTypeId)
                        {
                            case (int)AttributeControlTypeEnum.Dropdown:
                                <div class="btn-group col-xs-8">
                                    <select class="form-control" name="@controlId" id="@controlId" required="required">
                                        <option value="-1"></option>
                                        @foreach (var productAttributeValue in productAttribute.ProductAttributeValues)
                                        {
                                            var text = "";
                                            if (productAttributeValue.Price.HasValue && productAttributeValue.Price > 0)
                                            {
                                                text = $"{productAttributeValue.Name} - {string.Format("{0:C0}", productAttributeValue.Price).Replace("$", "")}";
                                            }
                                            else
                                            {
                                                text = productAttributeValue.Name;
                                            }
                                            <option name="@controlId" id="@controlId" value="@productAttributeValue.Id">@text</option>
                                        }
                                    </select>
                                </div>
                                break;
                        }
                        <div class="clearfix mb-2"></div>
                    }
                </div>
            }
            <div class="col-md-12 text-center mt-2">
                <button type="button" class="btn btn-danger" onclick="product.addProductToCart('@Url.RouteUrl("AddToCart", new { productId = Model.Id })', '#product-details-form');return false;">@T("Product.Button.AddToCart")</button>
            </div>
        }
        else
        {
            <label class="text-danger control-label text-center mt-3">@T("Product.Error.CallForPrice")</label>
        }
    </div>

</div>