@model ProductModel
@{
    bool active = true;
}
<div id="carousel" class="carousel slide carousel-fade" data-ride="carousel">
    <ol class="carousel-indicators">
        @for (int i = 0; i < Model.Pictures.AvailableMedia.Count; i++)
        {
            if (active)
            {
                <li data-target="#carousel" data-slide-to="@i" class="active"></li>
                active = false;
            }
            else
            {

                <li data-target="#carousel" data-slide-to="@i"></li>
            }
        }
    </ol>
    <div class="carousel-inner">
        @{ active = true;}
        @foreach (var mediaModel in Model.Pictures.AvailableMedia.OrderBy(pic=>pic.Priority))
        {
            var imgUrl = $"../images/site/product-empty.png";
            if (mediaModel != null)
            {
                imgUrl = $"../images/uploaded/{mediaModel.MediaId}-{mediaModel.Name}{mediaModel.MimeType}";
            }

            if (active)
            {
                <div class="carousel-item active">
                    <img src="@imgUrl" class="d-block w-100" alt="@(mediaModel != null ? mediaModel.AltAttribute : "product-empty")">
                </div>
                active = false;
            }
            else
            {

                <div class="carousel-item">
                    <img src="@imgUrl" class="d-block w-100" alt="@(mediaModel != null ? mediaModel.AltAttribute : "product-empty")">
                </div>
            }
        }

    </div>
    <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">قبلی</span>
    </a>
    <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">بعدی</span>
    </a>
</div>


