@model ProductAttributeSearchModel


@{
    Html.SetActiveMenuItemSystemName("Product Attribute List");
    ViewBag.PageTitle = T("Admin.ProductAttribute.List.Title").Text;
}

<form asp-action="List" asp-controller="ProductAttribute" method="post">
    <section class="card">
        <div class="card-header">
            <div class="pull-left" title="@T("Common.Search.Text")">
                <i class="fa fa-search" aria-hidden="true" data-toggle="collapse" href="#product-attribute-list-search"></i>
                <a asp-action="Create"> <i class="fa fa-plus" aria-hidden="true"></i></a>
            </div>
        </div>
        <div class="card-body collapse" id="product-attribute-list-search">
            <div class="row">
                <div class="form-group col-md-6 col-sm-4">
                    <label asp-for="Name" class="control-label">@T("ProductAttribute.Field.Name")</label>
                    <input type="text" class="form-control" asp-for="Name">
                </div>
            </div>

            <div class="btn-group-justified float-right">
                <button id="search-product-attribute-list" type="button" class="btn btn-primary">@T("Common.Search.Text")</button>
                <button id="search-clear-list" type="button" class="btn btn-secondary">@T("Common.Search.Clear")</button>
            </div>
        </div>
    </section>

    <section class="card mt-2">
        <div class="card-header">
            <span class="card-title">@T("Admin.ProductAttribute.List.Title")</span>
        </div>
        <div class="card-body">
            @{
                var gridModel = new DataTablesModel
                {
                    Name = "product-attribute-grid",
                    SearchButtonId = "search-product-attribute-list",
                    UrlRead = new DataUrl("List", "ProductAttribute", null),
                    Length = Model.PageSize,
                    LengthMenu = Model.AvailablePageSizes,
                    Filters = new List<FilterParameter>()
                                {
                        new FilterParameter(nameof(Model.Name))
                    }
                };

                gridModel.ColumnCollection.Add(new ColumnProperty(nameof(ProductAttributeModel.Name))
                {
                    Title = T("ProductAttribute.Field.Name").Text
                });

                gridModel.ColumnCollection.Add(new ColumnProperty(nameof(ProductAttributeModel.Description))
                {
                    Title = T("ProductAttribute.Field.Description").Text,
                    Render = new RenderCustom("renderColumnDescription")
                });

                gridModel.ColumnCollection.Add(new ColumnProperty(nameof(ProductAttributeModel.Id))
                {
                    Title = "",
                    Width = "10",
                    ClassName = LiparColumnClassDefaults.Button,
                    Render = new RenderButtonEdit(new DataUrl("Edit"))
                });
                @await Html.PartialAsync("Table", gridModel)

                <script>
                    function renderColumnDescription(data, type, row, meta) {
                        if (row.Description && row.Description.length > 30) {
                            return `${row.Description.substring(0, 29)} ....`;
                        } else {
                            return row.Description;
                        }
                    }
                </script>
            }
        </div>
    </section>
</form>


<script>
    $(document).ready(() => {
        $('#search-clear-list').click((e) => {
            $('#@Html.IdFor(c=>c.Name)').val('');
            $('#search-product-attribute-list').click();
        });
    })
</script>