@model LoginModel
@using Lipar.Services.General.Contracts
@inject ISettingService _settingService
@{
    ViewData["Title"] = "Login";
    bool.TryParse(_settingService.GetSetting("CommonSetting.ShowCaptcha").Value, out bool showCaptcha);
    bool.TryParse(_settingService.GetSetting("CommonSetting.ShowCaptchaInLoginPage").Value, out bool showCaptchaInLoginPage);
}

@section BodySection{
    <section class="row">
        <div class="col-md-7">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-7 mx-auto">
                        <div class="card card-signin my-5">
                            <div class="card-body">
                                <h5 class="card-title text-center">@T("Account.Login.Title")</h5>
                                <form method="post" asp-route="Login" asp-route-returnurl="@Context.Request.Query["ReturnUrl"]" autocomplete="off">
                                    <div asp-validation-summary="ModelOnly" class="message-error">@T("Account.Login.Unsuccessful")</div>
                                    <div class="form-group">
                                        <label asp-for="Username">@T("Admin.Login.Field.Username").Text</label>
                                        <div class="col-md-12">
                                            <input type="text" class="form-control" asp-for="Username" />
                                            <span class="text-danger" asp-validation-for="Username" />
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label asp-for="Password">@T("Admin.Login.Field.Password").Text</label>
                                        <div class="col-md-12">
                                            <input type="password" class="form-control" asp-for="Password" />
                                            <span class="text-danger" asp-validation-for="Password" />
                                        </div>
                                    </div>
                                    @if (showCaptcha && showCaptchaInLoginPage)
                                    {
                                        <div class="form-group row">
                                            <label class="col-md-2 col-sm-2 col-form-label">
                                                <i class="fa fa-fw fa-keyboard-o" style="font-size:1.7em !important"></i>
                                            </label>
                                            <div class="col-md-4 col-sm-5 form-input" style="padding-left: 0">
                                                <input type="text" id="Captcha" name="Captcha" tabindex="3" class="form-control" placeholder="کد امنیتی">
                                                @Html.ValidationMessage("Captcha")
                                            </div>
                                            <div class="col-md-1 col-sm-5" style="padding-left: 0">
                                                <i id="captcha-reload" class="fa fa-fw fa-refresh" style="color: #265799;cursor:pointer;"></i>
                                            </div>
                                            <div class="col-md-5 col-sm-5">
                                                @await Html.PartialAsync("_Captcha", "Login")
                                            </div>
                                        </div>
                                    }
                                    <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">@T("Account.Login.LoginButton")</button>
                                    <a href="@Url.RouteUrl("SignUp")" class="btn btn-lg btn-default btn-block">
                                        <i class="fa fa-user"></i>
                                        @T("Account.Login.NewUser")
                                    </a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
}

@section Scripts{
    <script type="text/javascript">
		$(document).off('click', '#captcha-reload');
		$(document).on('click', '#captcha-reload', function (e) {
			e.preventDefault();
			var rnd = Math.ceil(Math.random() * 10000);
			var imageUrl = '@Url.Action("CaptchaImage", "Captcha")'+'?prefix='+ '@Model'+'&rnd=' + rnd;
			$("#captcha-image").attr('src', imageUrl);
		});

    </script>
}
