@model PasswordRecoveryModel


@if (!string.IsNullOrEmpty(Model.Result))
{
    <div class="alert">
        <div class="alert-info">
            @Model.Result
        </div>
    </div>
}

<section class="card">
    <div class="card-header">
        <span>@T("Web.PasswordRecovery.Page.Title")</span>
    </div>
    <div class="card-body">
        <form asp-action="PasswordRecovery" method="post">
            <div class="form-group">
                <label asp-for="Email">@T("User.Field.Email")</label>
                <input type="email" class="form-control" asp-for="Email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            @if (Model.ShowCaptcha && Model.ShowCaptchaInPasswordRecoveryPage)
            {
                <div class="form-group">
                    <label class="col-md-1 col-sm-1 col-form-label">
                        <i class="fa fa-fw fa-keyboard-o" style="font-size:1.7em !important"></i>
                    </label>
                    <div class="col-md-4 col-sm-5 form-input" style="padding-left: 0">
                        <input type="text" id="Captcha" name="Captcha" tabindex="3" class="form-control" placeholder="کد امنیتی">
                        @Html.ValidationMessage("Captcha")
                    </div>
                    <div class="col-md-1 col-sm-5" style="padding-left: 0">
                        <i id="captcha-reload" class="fa fa-fw fa-refresh" style="color: #265799;cursor:pointer;"></i>
                    </div>
                    <div class="col-md-5 col-sm-5">
                        @await Html.PartialAsync("_Captcha", "PasswordRecovery")
                    </div>
                </div>
            }

            <button type="submit" class="btn btn-success pull-left">@T("Common.Send.Button")</button>

        </form>
    </div>
</section>
