@model UserModel

<div class="card">
    <div class="card-header">
        <i class="fa fa-info"></i>
        <span class="card-title ml-1">@T("Admin.User.Card.Info.Title")</span>
    </div>

    <div class="card-body">
        <div class="row">
            <div class="col-md-6 col-sm-4 form-group">
                <label asp-for="FirstName">@T("User.Field.FirstName")</label>
                <input asp-for="FirstName" class="form-control" type="text" required />
                <span class="text-danger" asp-validation-for="FirstName" />
            </div>

            <div class="col-md-6 col-sm-4 form-group">
                <label asp-for="LastName">@T("User.Field.LastName")</label>
                <input asp-for="LastName" class="form-control" type="text" required />
                <span class="text-danger" asp-validation-for="LastName" />
            </div>

            <div class="col-md-6 col-sm-4 form-group">
                <label asp-for="NationalCode">@T("User.Field.NationalCode")</label>
                <input asp-for="NationalCode" class="form-control" type="text" required />
                <span class="text-danger" asp-validation-for="NationalCode" />
            </div>

            <div class="col-md-6 col-sm-4 form-group">
                <label asp-for="Email">@T("User.Field.Email")</label>
                <input asp-for="Email" class="form-control" type="text" required />
                <span class="text-danger" asp-validation-for="Email" />
            </div>
        </div>
    </div>
</div>